<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="parameterHelper" class="com.qunar.homework.ParameterHelper"/>

    <bean id="extractor" class="com.qunar.homework.extractor.ext.CurrencyRateExtractor"/>

    <bean id="contentProvider" class="com.qunar.homework.contentprovider.ext.CurrencyRateProvider">
        <property name="extractor" ref="extractor"/>
        <property name="parameterHelper" ref="parameterHelper"/>
    </bean>

</beans>