<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="taskQueue" class="java.util.concurrent.ConcurrentLinkedQueue"/>

    <bean id="countLines" class="com.qunar.homework.count.impl.ext.JavaCountLines">
        <constructor-arg index="0" ref="taskQueue"/>
        <constructor-arg index="1" value="4"/>
    </bean>

</beans>